* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}

#header-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #003049;
    color: white;
}

.header-logo {
    padding-left: 30px;
    padding-bottom: 20px;
    flex: 1;
}

.header-logo p > span, .welcome-message > h1 {
    color: #eae2b7;
}

.header-nav {
    flex: 1;
}

.nav-container li a {
    text-decoration: none;
    color: white
}

.nav-container li a:hover {
    color: #eae2b7;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/* Main Content */
.main-container {
    width: 100%;
    height: 700px;
}

.main-container .main-content {
    background: url("https://images.pexels.com/photos/2678418/pexels-photo-2678418.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    height: 100%;
    width: 100%;
    padding: 30px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.main-container .main-content .welcome-message {
    margin-top: 40px;
    background-color: #003049;
    border-radius: 40px 2px 40px 2px;
    padding: 30px;
    opacity: 0.8;    
    font-size: 1rem;
    line-height: 2rem;
}

.welcome-message button {
    margin-top: 20px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
    background-color: #eae2b7;
    color: #003049;
    font-size: 1.5rem;
}

/* About Us section */
#about-container {
    padding: 30px 30px;
    display:flex;
    background-color: #003049;
    color: white;
    line-height: 2rem;
}

.about-message {
    flex: 1;
}

.about-photo {
    flex: 1;
}

.about-photo img {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */

}

/* Services section */
#services-intro {
    padding-top: 20px;
    text-align: center;
    line-height: 2rem;
    background-color: #eae2b7;
    color: #003049;
    padding-bottom: 20px;
}

.services-container {
    display: flex;
    width: 100%;
    margin: 30px 0;
}

.services-container .services {
    padding: 20px;
    flex: 1;
    justify-content: space-around;
    text-align: center;
    color: black;
}

/* Contact section */
#contact-container h1 {
    padding-top: 20px;
    padding-left: 30px;
    background-color: #eae2b7;
    color: #003049;
}
#contact-container .contact-us {
    text-align: center;
    line-height: 2.5rem;
    background-color: #eae2b7;
    color: #003049;
    padding-bottom: 20px;
}

#contact-container .contact-us input {
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

#contact-container .contact-us textarea {
    width: 40%;
    border-radius: 5px;
    border-style: none;
}

.contact-us button {
    padding: 10px 80px;
    font-size: 1.2rem;
    background-color: #003049;
    color: white;
    border-radius: 10px 0 10px 0;
    border-style: none;
    cursor: pointer;
}

/* Footer section */
.footer-container {
    display: flex;
    padding: 20px;
    background-color: #003049;
    color: white;
}

.footer-container p {
    flex: 1
}

.footer-container div {
    flex: 1;
}

.footer-container .social-media {
    display: flex;
    justify-content: flex-end;
}

.footer-container .social-media i {
    padding-right: 50px;
    font-size: 1.5rem;
}

/* .services-container :nth-child(even) {
    background-color: #003049;
} */


@media screen and (max-width: 850px) {
    #header-container {
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }
    .header-logo {
        flex: 1;
        width: 100%;
    }
    .header-nav {
        flex: 1;
        width: 100%;
        padding: 10px;
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
    .nav-container li {
        flex: 1;
    }
}

@media screen and (max-width: 650px) {
    .header-logo {
        flex: 1;
        width: 100%;
        text-align: center;
    }
    .nav-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nav-container li {
        flex: 1;
        text-align: center;
        padding-bottom: 20px;
    }
    .services-container {
        flex-direction: column;
    }
    #about-container {
        flex-direction: column;
    }
}

